@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR&display=swap');
/* 기본 전역 설정 */
.longtext {
  font-size: 0.8rem;
}

.longlongtext {
  font-size: 0.6rem;
}

.verygood {
  color: #CC4444;
}

.good {
  color: #4444CC;
}

.nb {
  color: #449944;
}

.bad {
  color: gray;
}
.wl {
  border-top: 1px solid white;
}

.win {
  color: blue;
}

.lose {
  color: red;
}

.title {
  text-align: center;
}
.App {
  background-color: rgb(32, 33, 36);
}

* {
  box-sizing: border-box;
  color: #e8eaed;
  font-family: 'Nanum Gothic', sans-serif;  
}

.loading {
  margin: 40px;
  font-size: 4rem;
  text-align: center;
  color: black;
}

.sidebar {
  padding: 4px;
  border: 2px solid black;
  background-color: rgb(23, 23, 23);
  position: fixed;
  top: 50%;
  right: 20px;
  opacity: 0.4;
}
/* 닉네임 보내는 영역 설정 */
.send-nickname {
  padding-top: 20px;
  text-align: center;
}

.send-nickname input {
  width: 500px;
  height: 32px;
  padding: 4px;
  border: 1px solid #5f6368;
  border-radius: 24px;
  font-size: 0.8rem;
  color: white;
  background-color: rgb(32, 33, 36);
  outline: none;
}

.send-nickname input::placeholder {
  padding: 16px;
  font-size: 0.8rem;
  font-weight: 300;
}

.send-nickname button {
  height: 48px;
  margin-left: 10px;
  border: 0;
  border-radius: 4px;
  padding: 1rem;
  font-size: 0.8rem;
  color: #9aa0a6;
  background-color: rgb(48, 49, 52);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* 소환사 기본 정보 출력 부분 */
.wrapper,
.lol-rank {
  display: flex;
  justify-content: center;
}

.summoner-info {
  width: 400px;
  margin: 16px;
  padding: 16px;
  border: 2px solid black;
  text-align: center;
}
.summoner-info div {
 margin: 8px; 
}
.lol-rank div {
  margin: 8px;
  text-align: center;
}

.lol,
.summoner-info {
  padding: 16px;
  border: 2px solid black;
  background-color: rgb(23, 23, 23)
}
/* 전적, 숙련도 영역 display 
*/
.match-wrap {
  display: flex;
  justify-content: center;
}

.match-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mastery-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* 전적 영역 */
.match-list {
  display: flex;
  flex-direction: column;
}

.match-list div h2 {
  text-align: center;
}

.match-item {
  width: 800px;
  margin: 16px;
  padding: 12px;
  border: 2px solid black;
  font-size: 1rem;
  background-color: rgb(23, 23, 23);
  display: flex;
}

.match-item div {
  margin: 6px;
}

.match-basic {
  width: 350px;
  text-align: center;
}

.match-info strong {
  color: lightblue;
}
/* 숙련도 영역 */
.summoner-mastery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summoner-mastery-info {
  width: 250px;
  margin: 4px;
  padding: 16px;
  border: 2px solid black;
  text-align: center;
  background-color: rgb(23, 23, 23);
}

.summoner-mastery-info div {
  margin: 2px;
}
